{% extends 'base.html' %}
{% block title %}
<p>Add news</p>

{% endblock title %}

{% block content %}

<!DOCTYPE html>

        <table class="col-lg-12 text-center">


            {% for new in filter.qs %}
                <tr>
                    <td style="text-align: left">
                        {{ new.title }}
                    </td>

                    <td style="text-align: left">
                        {{ new.author.authorUser }}
                    </td>
                    <td style="text-align: left">
                        {{ new.image }}
                    </td>
                    <td style="text-align: left">
                        {{ new.text }}
                    </td>
                    <td style="text-align: center">
                        {{ new.dateCreation }}
                    </td>
                </tr>
            {% endfor %}
        </table>



<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }} <!-- Теперь нам нужна только готовая форма и кнопка -->
    <input type="submit" value="Сохранить ">
</form>



{% endblock content %}