{% extends 'base.html' %}


{% block title %}
<p>All News</p>

{% endblock title %}

{% block content %}
    <h1>Все объявлений</h1>
    <h3>{{ time_now|date:'M d Y' }}</h3>
    <h6>Всего объявлений - {{ Advertisement | length }}</h6>
    <hr>
    {% if Advertisement %}
        <table class="col-lg-12 text-center">
            <tr>
                <tr>
                <td>
                    <b>Название</b>
                </td>
                <td>
                    <b>Превью</b>
                </td>
                <td>
                    <b>Категория</b>
                </td>
                <td>
                    <b>Дата</b>
                </td>
            </tr>
            </tr>
            {% for id in Advertisement %}
           <tr>
                <td style="text-align: left">

                        <a href="{% url 'AdvertisementDetail' id.id %}">{{ id.title }}</a>


                    {% if request.user.is_authenticated %}
                    {% if  user.username in id.author.username %}

                         <a href="{% url 'AdvertisementUpdateView' id.id %}"><u>Редактировать </u></a>

                         <a href="{% url 'AdvertisementDeleteView' id.id %}"><u>Удалить </u></a> <!-- добавим ссылку на удаление -->

                    {% endif %}
                    {% endif %}

                    <!-- При нажатии на имя товара в таблице нас теперь будет перекидывать на страницу с информацией  -->

                </td>


                <td style="text-align: left">
                    {{ id.text | truncatechars:50 }}
                </td>
                <td style="text-align: left">
                    {{ id.Category }}
                </td>
                <td style="text-align: center">
                    {{ id.dateCreation }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}


{% if is_paginated %}


<!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
<!--        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>-->
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
    {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endif %}

{% endblock content %}